annotated-types==0.7.0
bidict==0.23.1
charset-normalizer==3.4.0
click==8.1.7
construct==2.10.68
construct-typing==0.6.2
drawsvg==2.4.0
jinja2==3.1.4
loguru==0.7.2
markdown-it-py==3.0.0
mdurl==0.1.2
mido-fix==1.2.12
more-itertools==10.5.0
omegaconf==2.3.0
parsimonious==0.10.0
platformdirs==4.3.6
portion==2.6.0
proto-plus==1.25.0
protobuf==5.28.3
pydantic-extra-types==2.10.0
pypinyin==0.53.0
pysubs2==1.7.3
retrie==0.3.1
rich==13.9.4
sortedcontainers==2.4.0
typer-slim==0.13.0
typing-extensions==4.12.2
xsdata==24.11
xsdata-pydantic==24.5
wanakana-python==1.2.2
zhon==2.0.2

# native packages provided by pyodide
lxml
pydantic
pyyaml
regex
zstandard

# jupyter ui components
reacton
ipyvuetify